@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.homePage {
    padding-top: 6%;
    padding-left: 20%;
    padding-right: 20%;
}
  
.split {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* .splitleft */
.splitleft {
    display: table-cell;
    font-family: "Montserrat", sans-serif;
}

.welcome .subtitle {
    letter-spacing: 3px;
    font-size: 15px;
}

.welcome .title {
    padding-top: 30px;
    font-size: 60px;
    font-weight: bold;
}

.welcome .title .nickname {
    color: #ff014f;
}

.welcome .header {
    padding-top: 15px;
    font-size: 45px;
    position: relative;
    color: #ecf0f3;
    font-weight: bold;
    -webkit-text-stroke: 0.1px #383d52;
}

.welcome .header::before {
    padding-top: 12px;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ff014f;
    -webkit-text-stroke: 0px #383d52;
}

.welcome .header-caption {
    padding-top: 10px;
    font-size: 45px;
    position: relative;
    color: #ecf0f3;
    -webkit-text-stroke: 0.1px #383d52;
}

.welcome .header-caption::before {
    padding-top: 8px;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: black;
    -webkit-text-stroke: 0px #383d52;
    border-right: 2px solid #ff014f;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    5%, 50%, 100% {
        width: 0;
    }
    50%, 85% {
        width: 100%;
    }
}

.welcome .description {
    padding-top: 30px;
    padding-right: 100px;
}

.splitleft .row {
    padding-top: 390px;
}

.splitleft .row .title {
    font-size: 14px;
    letter-spacing: 1px;
}

/* .social-share-inner-left */
.social-share-inner-left .skill-share {
    padding: 0;
}

.social-share-inner-left li {
    width: 60px;
    height: 60px;
    margin: 12px 12px;
    line-height: 55px;
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background-image: linear-gradient(315deg, #ecf0f3 50%, rgba(0, 0, 0, 0.08) 100%);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.social-share-inner-left li:hover {
    top: -5px;
}

.social-share-inner-left img {
    margin-top: 3px;
    width: 30px;
    height: 30px;
}

/* .social-share-inner-right */
.skill-share-inner .skill-share {
    padding: 0;
}

.skill-share-inner li {
    width: 60px;
    height: 60px;
    margin: 12px 12px;
    line-height: 55px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background-image: linear-gradient(315deg, #ecf0f3 50%, rgba(0, 0, 0, 0.08) 100%);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.skill-share-inner li:hover {
    top: -5px;
}

.skill-share-inner img {
    width: 30px;
    height: 30px;
}

/* .splitright */
.splitright {
    display: table-cell;
    font-family: "Montserrat", sans-serif;
}

.splitright .welcome .subtitle {
    color: rgba(0, 0, 0, 0);
}

.splitright .image li {
    width: 480px;
    height: 460px;
    margin: 200px 180px;
    line-height: 55px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 6px;
    background-image: linear-gradient(315deg, #ecf0f3 50%, rgba(0, 0, 0, 0.08) 100%);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.splitright .image .img-show img {
    /* width: 172px;
    height: 223px; */
    width: 516px;
    height: 669px;
    margin-top: -201px;
    margin-left: -15px;
}

/* .test */

.test h1 {
    color: black;
    font-size: 150px;
}

.test {
    text-align: center;
    padding-top: 36vh;
}